<a href="https://colab.research.google.com/github/Merajul-Rahman/Python/blob/main/Fuction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#fuction create and calling
def myfun():
  print('This is a fuction')

myfun()

This is a fuction

In [6]:
#arguments
def myfun2(x):
  print('This value is passed to function: ', x, type(x))
myfun2(55)
myfun2('String')


def my_function3(fname, lname):
  print(fname + " " + lname)

my_function3("Emil", "Refsnes")

This value is passed to function:  55 <class 'int'>
This value is passed to function:  String <class 'str'>
Emil Refsnes

In [8]:
# Arbitrary Arguments, *args
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus","hsdjhs")

The youngest child is Linus

In [9]:
# Arbitrary Keyword Arguments, **kwargs
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [10]:
#default parameter value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [14]:
#passing a list as an argument
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)
my_function([5])

apple
banana
cherry
5

In [15]:
#return
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [18]:
# the pass statement
def myfunction5():
  pass
myfunction5()

In [19]:
#positional only arguments
def my_function(x, /):
  print(x)

my_function(3)

my_function(x = 3) # will show error for ,/

3

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

In [20]:
#keward only arguments
def my_function(*, x):
  print(x)

my_function(x = 3)
my_function(3) # will show error for *

3

TypeError: my_function() takes 0 positional arguments but 1 was given

In [21]:
#combine positional and keyward
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [22]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21